QLabel#Version
{
    color: black;
    font: bold;
    font-size: 12px;
}

QLineEdit::disabled
{
	color : black;
}

QComboBox::disabled
{
	color: black;
}

QSpinBox::disabled
{
	color: black;
}